<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <my_cpn></my_cpn>
        <my_cpn></my_cpn>
        <my_cpn></my_cpn>
    </div>
    <script src="js/vue.js"></script>
    <script>
        // 1、创建组件构造器对象Vue.extend({template:})
        // template自定义的组件模板
        const cpnC = Vue.extend({
            template:`
            <div>
                <h2>我是小恐龙</h2>
                <p>真的是小恐龙</p>
            </div>`
        })

        //全局语法糖
        // Vue.component('my_cpn',{
        //     template:`
        //     <div>
        //         <h2>我是小恐龙</h2>
        //         <p>真的是小恐龙</p>
        //     </div>`
        // })



        // 2、注册组件Vue.component(注册组件的标签名,组件构造器)

        Vue.component('my_cpn',cpnC)

        const app=new Vue({
            el:'#app',
            data:{},
            methods:{},
            computed:{}
        })
    </script>
</body>
</html>